<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeuApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-Fvyq4NrsMm0OBEpwwhw/rDbDiXU9T7sQKR6z+9tqv2L3Bgtt3EPLolfhtpctgZ4F" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site_novo.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
