@model UserViewModel
@{
    ViewData["Title"] = "Criar Usu치rio";
}

<h2 class="mb-4 text-center fw-bold">Criar Novo Usu치rio</h2>
<p class="sub-title mb-4 text-center">Insira os dados para o novo perfil.</p>

@if (ViewBag.MensagemSucesso != null)
{
    <div class="alert alert-success">@ViewBag.MensagemSucesso</div>
}
@if (ViewBag.MensagemErro != null)
{
    <div class="alert alert-danger">@ViewBag.MensagemErro</div>
}

<form asp-action="Criar" method="post">
    <div class="mb-3">
        <label asp-for="Login" class="form-label"></label>
        <input asp-for="Login" class="form-control" placeholder="@Model.Dominio\" />
        </div>
    <div class="mb-3">
        <label asp-for="Senha" class="form-label">Senha Tempor치ria</label>
        <input asp-for="Senha" class="form-control" type="password" />
        </div>
    <div class="mb-3">
        <label asp-for="Grupo" class="form-label">Nome do Grupo (Opcional)</label>
        <input asp-for="Grupo" class="form-control" />
        </div>
    
    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary btn-lg"><span>游녻</span> Criar Usu치rio</button>
        <a href="/" class="btn btn-outline-secondary mt-2">Voltar ao Menu</a>
    </div>
</form>