@model UserViewModel
<h2>Criar Usuário AD</h2>

<div class="card shadow-sm p-4">

    @if (ViewBag.MensagemSucesso != null)
    {
        <div class="alert alert-success">@ViewBag.MensagemSucesso</div>
    }
    @if (ViewBag.MensagemErro != null)
    {
        <div class="alert alert-danger">@ViewBag.MensagemErro</div>
    }

    <form asp-action="Criar" method="post">
        
        <div class="mb-3">
            <label class="form-label">Domínio:</label>
            <input type="text" name="Dominio" class="form-control" required />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Login:</label>
            <input type="text" name="Login" class="form-control" required />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input type="password" name="Senha" class="form-control" required />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Grupo (Opcional):</label>
            <input type="text" name="Grupo" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100">Criar Usuário</button>
    </form>
</div>