@model UserViewModel
@{
    ViewData["Title"] = "Excluir Usuário";
}

<nav class="navbar shadow-sm mb-4">
    <div class="container bari-header">
        <img src="/img/logo-bari.png" alt="Logo Bari" class="logo-bari" />
        <span class="bari-title">Gerenciador de Usuários AD</span>
    </div>
</nav>

<main class="container-main">
    <div class="card shadow-sm mx-auto">
        <div class="card-body px-4">

            <h2 class="mb-4 text-center fw-bold">Excluir Usuário</h2>
            <p class="sub-title mb-4 text-center">Insira o login do usuário a ser excluído.</p>

            @if (ViewBag.MensagemSucesso != null)
            {
                <div class="alert alert-success">@ViewBag.MensagemSucesso</div>
            }
            @if (ViewBag.MensagemErro != null)
            {
                <div class="alert alert-danger">@ViewBag.MensagemErro</div>
            }

            <form asp-action="Excluir" method="post">
                <div class="mb-3">
                    <label asp-for="Login" class="form-label"></label>
                    <input asp-for="Login" class="form-control" placeholder="@Model.Dominio\" />
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg"><span>❌</span> Excluir</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mt-2">Voltar ao Menu</a>
                </div>
            </form>

        </div>
    </div>
</main>