<nav>
    <a asp-controller="Usuario" asp-action="Criar">Criar Usuário</a> |
    <a asp-controller="Usuario" asp-action="ResetSenha">Resetar Senha</a> |
    <a asp-controller="Usuario" asp-action="Excluir">Excluir Usuário</a> |
    <a asp-controller="Usuario" asp-action="AdicionarGrupo">Adicionar ao Grupo</a> |
    <a asp-controller="Usuario" asp-action="RemoverGrupo">Remover do Grupo</a>
</nav>
<br>

@model UserViewModel
<h2>Excluir Usuário</h2>
<form asp-action="Excluir" method="post">
    <label>Domínio:</label>
    <input type="text" name="Dominio" required /><br>
    <label>Login:</label>
    <input type="text" name="Login" required /><br>
    <button type="submit">Excluir</button>
</form>
